.card {
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .text {
    text-align: center;
    color: #fff;
    font-size: 14px;
  }

  .types {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .type {
      color: yellow;
      font-size: 10px;
      margin-right: 4px;
    }
  }
}
