.listC {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5vw;
}

.list {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  gap: 2rem 1rem;

  justify-content: center;
}

.btn {
  background: #fff;
  padding: 0.5rem 1rem;
}
